
<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <%= form_with model: @mlog, local: true do |form| %>
          <fieldset>
            <fieldset class="form-group">
              <%= form.text_field :title, class: "form-control form-control-lg", placeholder: "Article Title" %>
            </fieldset>
            <fieldset class="form-group">
              <%= form.text_field :description, class: "form-control", placeholder: "What's this article about?" %>
            </fieldset>
            <fieldset class="form-group">
              <%= form.text_area :content, class: "form-control", rows: 8, placeholder: "Write your article (in markdown)" %>
            </fieldset>
            <fieldset class="form-group">
              <%= form.text_field :tags, class: "form-control", placeholder: "Enter tags" %>
              <div class="tag-list">
                <span class="tag-default tag-pill">
                  <i class="ion-close-round"></i> tag
                </span>
              </div>
            </fieldset>
            <%= button_tag type: "submit", class: "btn btn-lg pull-xs-right btn-primary" do %>
              <i class="ion-save"></i> Publish Article
            <% end %>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>

