<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <ul class="error-messages">
          <h1></h1>
        </ul>
        <%= form_with model: @mlog, local: true do |form| %>
          <fieldset>
            <fieldset class="form-group">
              <%= form.text_field :title, class: "form-control form-control-lg", placeholder: "Article Title" %>
            </fieldset>
            <fieldset class="form-group">
              <%= form.text_field :description, class: "form-control", placeholder: "What's this article about?" %>
            </fieldset>
            <fieldset class="form-group">
              <%= form.text_area :content, class: "form-control", rows: 8, placeholder: "Write your article (in markdown)" %>
            </fieldset>
            <fieldset class="form-group">
              <%= form.text_field :tags, class: "form-control", placeholder: "Enter tags" %>

            </fieldset>
            <%= button_tag "Publish Article", type: "submit", class: "btn btn-lg pull-xs-right btn-primary" %>
          </fieldset>
        <% end %>

      </div>
    </div>
  </div>
</div>
