

<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1><%= @mlog.title %></h1>

      <div class="article-meta">
        <%# 削除リンク %>
        <%= link_to 'Edit Article', edit_mlog_path(@mlog), class: "btn btn-sm btn-outline-secondary" %>
        <%= button_to "Delete Article", mlog_path(@mlog), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <%# 記事本文　タイトルのぞく %>
        <p>
          <%= @mlog.description %>
        </p>
        <p>
          <%= @mlog.content %>
        </p>
        <%# <タグの一覧（@mlog.tags はカンマ区切りの文字列と仮定） %>
        <ul class="tag-list">
          <% @mlog.tags.split(',').each do |tag| %>
            <li class="tag-default tag-pill tag-outline"><%= tag.strip %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
